# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# R / RStudio
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# VS Code
.vscode/

# Conda
.env
.venv/

# Raw/processed data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Generated results
results/*
!results/.gitkeep

# Generated figures
figures/*.png
figures/*.pdf
figures/*.svg
!figures/.gitkeep